.menu__item {
    margin-right: 20px;
    list-style-type: none;
    font-size: 1.3em;
    font-weight: 200;
    font-family: var(--font2);
}
.menu__item a {
    text-decoration: none;
    color: white;
    transition: all .2s;
}
.menu__item--destaque a {
    font-weight: 800;
}
.menu__item:hover a {
    color: #ededed;
    text-decoration: underline;
    transition: all .3s;
}
