.login__nick--input {
    border-radius: 7px;
    display: block;
    width: 70%;
    height: 25px;
    margin-top: 5px;
    font-size: 1.3rem;
}
.login__nick--input:focus {
    outline: 1.5px solid #16120d;
}